
@{
    ViewBag.Title = "Index";
}
<!-- Main Heading event search -->
<div class="text-center text-muted event-main-heading" style="margin:100px 0 80px 0;">
    <h3>Events Listing....</h3>
</div>

<!-- Modal delete-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#7ed56f">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-muted" id="myModalLabel" style="color:#fff">Delete Event</h3>
            </div>
            <div class="modal-body">
                <h3 class="text-muted">Want to delete this event.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn">Yes</button>
                <button type="button" class="btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#7ed56f">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-muted" id="myModalLabel" style="color:#fff">Edit event</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <div class="acc-message">
                            <p>Client successfull created.</p>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 text-center">
                                    <label class="text-muted">Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 text-center">
                                    <label class="text-muted">Guest Number</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Guest Number" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 text-center">
                                    <label class="text-muted">Payment Amount</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Payment Amount" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:40px;">
                            <div class="form-group">
                                <div class="col-md-2 text-center">
                                    <label class="text-muted">Email Address</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Email Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn">Edit</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- main container -->
<div class="container-fluid" style="background: #f5f5f5;">
    <div class="row" style="margin-top:40px;">
        @for (int i = 0; i < 10; i++)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Name: <span>abcd</span></h4>
                        <h4>Email: abcd@gmail.com</h4>
                        <h4>Guest number: 12345</h4>
                        <h4>Amount: $45</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2 text-center">
                                <a href="#" data-toggle="modal" data-target="#myModal" role="button"><i class="fa fa-trash" style="font-size:22px; color:#7ed56f"></i></a>
                            </div>
                            <div class="col-md-3 col-md-offset-2 text-left">
                                <a href="#" data-toggle="modal" data-target="#myModalEdit" role="button"><i class="fa fa-pencil" style="font-size:22px; color:#7ed56f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
